@font-face {
    font-family: 'Yokel'; 
    src: url('../fonts/Yokel.ttf'); 
}
@font-face {
    font-family: 'Fairy'; 
    src: url('../fonts/Fairy.ttf'); 
}

#gameScreen{
	position: absolute;
	display: inline-block;
	border: 1px solid black;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

img{
	display: none;
}

#score{
	position: absolute;
	font-family: Yokel;
	font-size: 50px;
	line-height: 50px;
	width: 200px;
	text-align: right;
	padding-right: 10px;
	right: 500px;
	top: 45px;
	background-color: #ff9ed3;
	border-style: solid;
	border-color: #000;
	border-width: 3px;
}

#loadBar{
	position: absolute;
	align-content: left;
	font-family: Yokel;
	font-size: 50px;
	height: 50px;
	width: 200px;
	text-align: left;
	left: 500px;
	top: 45px;
	background-color: #cdd;
	border-style: solid;
	border-color: #000;
	border-width: 3px;
}

#loadProgress{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #2d2;
}

#highCombo{
	position: absolute;
	font-family: Yokel;
	font-size: 20px;
	line-height: 20px;
	width: 150px;
	text-align: right;
	padding-right: 10px;
	right: 500px;
	top: 100px;
	background-color: #ff9ed3;
	border-style: solid;
	border-color: #000;
	border-width: 2px;
}